*,
::before,
::after {
  /* reset */
  box-sizing: border-box;
}
:root {
  --body-bg: hsl(0, 0%, 90%);
  --txt-clr: hsl(0, 0%, 7%);

  --ac-padding: 0.3rem 0;
  --base-color1: 200; /* blue */

  --header-bg: hsla(200, 50%, 35%);
  --header-txt: hsl(0, 0%, 100%);
  --header-logo-w: 120px;
  --ac-color1-light: hsla(var(--base-color1), 50%, 85%, 100%);
  --ac-color1-normal: hsla(var(--base-color1), 50%, 50%, 100%);
  --ac-color1-darker: hsl(200, 50%, 35%);

  --ac-link: var(--ac-color1-normal);
  --ac-border-color: #ddd;
  --ac-fields-border: #ccc;
  --ac-fields-bg: #eee;
  --ac-fields-bg-hover: #f7f6f4;

  --ac-msg-bg-ok: #f4faf4;
  --ac-msg-bg-alert: #ffd9d9;

  --ac-border-radius: 0;
  --ac-fields-radius: 0.25rem;

  --nav-bg-hvr: var(--bg-body);
  --nav-txt-clr: hsl(0, 0%, 90%);
  --nav-txt-clr-hover: #000;

  --section-padding: 1rem 1rem;
  --main-width: 100%;
  --options-gap: 0.5rem;

  --hamburger-clr: #fff;
  --hamburger-display: block;
  --hamburger-speed: 100ms;
}

body {
  background: var(--body-bg);
  font-size: 1rem;
  font-family: verdana, arial, sans-serif;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--txt-clr);
  line-height: 1.2em;
}

a {
  color: var(--ac-link);
}
.small-screen-no {
  display: none;
}
main {
  margin: 0 auto;
  width: var(--main-width);
  max-width: var(--main-width);
}

.header,
section,
footer,
div.msg {
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: var(--ac-border-radius);
  border: 1px solid var(--ac-border-color);
  margin-bottom: 1rem;
}
.header {
  border-bottom: none;
  background: var(--header-bg);
  color: var(--header-txt);
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
  width: var(--header-logo-w, 120px);
  vertical-align: top;
}
.header__logo img {
  width: 100%;
}
.header__version {
  margin-left: auto;
  font-size: 1.2rem;
}
main {
  padding: 0;
}
section {
  padding: var(--section-padding);
}
footer {
  background: #eee;
  padding: 0.5rem 1rem;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  list-style: none;
  text-align: center;
}
footer ul li {
  display: inline-block;
  margin-right: 10px;
}
footer ul li:last-of-type {
  margin-right: 0;
}

/* install */
.install-steps li {
  margin: 0 0 1rem;
}
li.ok {
  color: green;
}

/* login & password reset */
.block--login {
  max-width: 480px;
  margin-inline: auto;
}

/* nav */
nav {
  margin-left: auto;
  flex: 1;
}
.hamburger {
  margin: 0 0 0 auto;
  display: var(--hamburger-display);
  fill: var(--hamburger-clr);
  cursor: pointer;
  background: transparent;
  border: none;
}
.hamburger:focus {
  fill: var(--primary-clr-300);
}
.hamburger .line {
  transition: y var(--hamburger-speed) ease-in var(--hamburger-speed),
    rotate var(--hamburger-speed) ease-in, opacity 0ms var(--hamburger-speed),
    fill var(--hamburger-speed) ease-in;
  transform-origin: center;
}
.hamburger[aria-expanded="true"] .line {
  transition: y var(--hamburger-speed) ease-in,
    rotate var(--hamburger-speed) ease-in var(--hamburger-speed),
    opacity 0ms var(--hamburger-speed);
}
.hamburger[aria-expanded="true"] .line__bottom,
.hamburger[aria-expanded="true"] .line__top {
  y: 45px;
}
.hamburger[aria-expanded="true"] .line__top {
  rotate: 45deg;
}
.hamburger[aria-expanded="true"] .line__bottom {
  rotate: -45deg;
}
.hamburger[aria-expanded="true"] .line__middle {
  opacity: 0;
}
.hamburger main {
  padding: 4rem;
}

.menu {
  flex: 1 1 100%;
  flex-basis: 100%;
  width: auto;
  list-style: none;
  text-decoration: none;
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 0;
  margin: 0 0.4em 0 0;
  gap: 0.5em;
}
.menu li {
  margin-left: auto;
  text-align: right;
  padding: 0;
}
.menu li + li {
  margin-left: 0;
}
.menu a {
  color: var(--nav-txt-clr);
  line-height: 1.2em;
  padding: 0 1rem;
  text-decoration: none;
  position: relative;
}
.menu a:focus,
.menu a:hover {
  color: #fff;
}
.menu li.active a::after,
.menu a:focus::after,
.menu a:hover::after {
  content: "\276E";
  position: absolute;
  right: 0;
  top: 1px;
}
.hamburger[aria-expanded="true"] + .menu {
  height: 14.4em; /* not convinced by this as it is a predefined height - this should be a calculation of all the menu items*/
}

div.msg {
  background: #ffffdf;
  margin: 10px auto;
  padding: 0.5rem 1rem;
}
div.msg.alert {
  background: var(--ac-msg-bg-alert);
  border-color: #ff8c8c;
}
div.msg.OK {
  background: var(--ac-msg-bg-ok);
  border-color: #88f088;
}
.hidden {
  display: none;
}
/* form fields */
input:not(.buttons),
input[type="date"],
textarea,
select,
.button {
  font-family: inherit;
  font-size: 1.1em;
  text-align: left;
  padding: 10px 14px;
  clear: both;
  margin-top: 0;
  -webkit-transition: border-color 0.15s ease;
  -moz-transition: border-color 0.15s ease;
  -o-transition: All 0.15s ease;
  -ms-transition: border-color 0.15s ease;
  transition: border-color 0.15s ease;
  background-repeat: no-repeat;
  vertical-align: top;
  border: 1px solid var(--ac-fields-border);
  -moz-border-radius: var(--ac-fields-radius);
  -webkit-border-radius: var(--ac-fields-radius);
  border-radius: var(--ac-fields-radius);
  background-color: var(--ac-fields-bg);
}
select {
  border-radius: 0;
  background-color: #fff;
  background-image: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 9px;
}
option {
  -webkit-appearance: none; /* To gain control over the appearance on WebKit */
  -moz-appearance: none; /* To gain control over the appearance on Gecko */
}
em {
  font-style: italic;
}
strong {
  font-weight: 600;
}
input[type="file"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  background-color: var(--ac-color1-normal);
  border-color: var(--ac-color1-normal);
  color: #fff;
}
input[type="submit"] {
  text-align: center;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: var(--ac-fields-bg-hover);
  border-width: 1px;
  color: #111; /*opacity: 0.7;*/
}
input[type="submit"]:hover {
  background: var(--ac-color1-darker);
  color: #fff;
}
input:focus,
textarea:focus,
select:focus {
  border: 1px solid green;
}
textarea:-moz-placeholder,
input:-moz-placeholder {
  color: #999;
  font-style: italic;
}
::-webkit-input-placeholder {
  color: #999;
  font-style: italic;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}
input:not([type="checkbox"]):not([type="radio"]),
textarea {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus:required:invalid {
  border: 1px solid red;
}
input:required:valid {
}

input.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  max-width: 140px;
}

input.slider:hover {
  opacity: 1;
}

input.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--ac-color1-normal);
  cursor: pointer;
}

input.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

/* form fields & labels*/
.button {
  background: var(--ac-color1-darker);
  color: #fff;
}
.button--small {
  font-size: 0.8rem;
}
.button--green {
  background-color: green;
}
.button--red {
  background-color: red;
}
.field-row {
  margin-bottom: 0.5rem;
}
.field-row input:not([type="submit"]) {
  width: 100%;
}

.field-row label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}
.field-row input[type="submit"] {
  width: auto;
}
.field-row--data {
  padding: 14px 10px;
  border-bottom: 1px dashed #ddd;
  width: 100%;
  display: flex;
} /* try to have same spacing as form fields */
.field-row--data label {
  width: 200px;
}

.note {
  display: block;
  color: green;
  font-style: italic;
  padding: 10px;
}

a.pseudo-button,
span.pseudo-button {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: var(--ac-fields-radius);
  background: #eee;
  padding: 10px 20px;
  cursor: pointer;
}

/* SVG icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon.icon-lg {
  width: 1.4em;
  height: 1.4em;
}
.icon.icon-small {
  width: 0.9em;
  height: 0.9em;
}
.icon-bubbles2 {
  width: 1.125em;
}

.icon-users {
  width: 1.125em;
}
.icon-cross {
  color: red;
}
.icon-checkmark {
  color: green;
}
.icon-bin {
  color: #ccc;
}
.icon-button {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid var(--ac-border-color);
  border-radius: var(--ac-fields-radius);
}

/* blocks */
.block {
  color: #2d567c;
}
.block-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--ac-padding);
}
.block-title h1 {
  flex-basis: 100%;
  font-size: 1.2em;
  color: var(--ac-color1-darker);
}
.block h2 {
  font-size: 1.2em;
  padding: 10px 0;
}
.block a.icons {
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  color: green;
  text-decoration: none;
}
.block-buttons {
  margin-top: 2rem;
  border-top: 1px solid var(--ac-border-color);
  padding: 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-msg {
  padding: 0.5rem 1rem;
  background: var(--ac-color1-light);
  color: #333;
  border-bottom: 1px solid var(--ac-border-color);
}
.block-msg.advice {
  background: #ffffe8;
}
.block-cols {
  display: flex;
  flex-direction: column;
}
.block-cols > div {
  flex-basis: 50%;
}

/* tables */
table {
  width: 100%;
}
td {
  border-bottom: 1px dashed #ddd;
  padding: 0.5rem;
}
table tr:nth-child(even) td {
  background: #fdfdfd;
}
table tr:hover td {
  background: #fffff3;
}
td.options {
  max-width: 100px;
  text-align: center;
}
td.handles,
td.id,
td.state {
  text-align: center;
}
td.col-lang-translated {
  display: none;
}
td.handles {
  cursor: ns-resize;
}
td.center {
  text-align: center;
}
td.options ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--options-gap, 0.5rem);
}

tr.item-added td,
tr.item-modified td {
  font-weight: bold;
  background: var(--ac-msg-bg-ok) !important;
}
tr.item-alert td {
  background: var(--ac-msg-bg-alert) !important;
}
thead td {
  background: #eee;
  text-align: center;
}

td ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.settings-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
}
@media all and (min-width: 480px) {
  :root {
    --ac-border-radius: 6px;
    --section-padding: 1rem 2rem;
    --header-logo-w: 160px;
  }
  .icon {
    width: 1.2em;
    height: 1.2em;
  }
  td.col-lang-translated {
    width: 40px;
    text-align: center;
    display: table-cell;
  }
  .block-cols {
    flex-direction: row;
  }
  td.options {
    width: 140px;
  }
}

@media (min-width: 800px) {
  :root {
    --hamburger-display: none;
    --section-padding: 1rem 3rem;
    --main-width: 1000px;
    --options-gap: 1rem;
    --header-logo-w: 200px;
  }
  .small-screen-no {
    display: block;
  }
  td.small-screen-no {
    display: table-cell;
  }
  .header {
    position: sticky;
    max-width: var(--main-w);
    z-index: 2;
    top: 0;
    width: inherit;
    border: 1px solid var(--bg-body);
    color: var(--bg-body);
  }
  nav {
    margin: 1rem 0 0 auto;
  }
  .menu {
    margin: 0 0 0 auto;
    padding: 0;
    height: auto;
    align-items: center;
    flex-direction: row;
    gap: 0.3em;
    border-radius: 0;
    overflow: visible;
  }
  .menu li + li {
    margin-left: 0.5rem;
  }
  .menu > * {
  }
  .menu a {
    padding: 0;
  }
  .menu li.active a {
    text-decoration: underline;
  }
  .menu li.active a::after,
  .menu a:hover::after,
  .menu a:focus::after {
    display: none;
  }
  .field-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .field-row label {
    max-width: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    min-height: 3em;
    padding: 0 10px;
    background: var(--ac-color1-light);
    border-radius: var(--ac-fields-radius);
  }
  .field-row input[type="submit"] {
    margin-left: 245px;
    width: auto;
  }
  .settings-colors {
    display: block;
  }
}
