* {
  /* reset calendar child elements without affecting external elements */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0px;
  outline: 0px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
  /* define colors here */
  /* NOTE - main colors are defined via admin panel*/
}

:host {
  /* general spacing and text sizes - NOT defined in admin settings */
  --text-size: 1rem;
  --text-size-today: 1.2rem;
  --day-gap: 1px;
  --month-gap: 1rem;

  /* 
  NEW CUSTOM PROPERTIES FROM SETTINGS -
  NEED TO UPDATE DB AND SETTINGS WITH THESE NEW DEFINITIONS 
   */
  --ac-month-title-clr: #fff;
  --ac-month-title-bg: #046889;
  --ac-weekday-bg: #8fd9f2;
  --ac-weekday-clr: #000;

  --ac-day-bg: #f0f0f0;
  --ac-day-clr: #000;
  --ac-day-clr-hover: orange;
  --ac-weekend-bg: #f0f0f0;
  --ac-weekend-clr: #000;

  --ac-nav-clr: #046889;
  --ac-nav-clr-hover: #000;

  --ac-booked-clr: #000;
  --ac-booked-bg: #ff9090;

  --ac-select-start: #ffcc00;
  --ac-select-end: #ffcc00;
  --ac-select-between: #fdeeb3;
}

.ac-alert {
  border: 1px solid red;
  color: #fce2e2;
  padding: 1rem 2rem;
}
.ac-alert--info {
  border-color: #ccc;
  background-color: rgb(245, 245, 203);
  color: #333;
}

/* calendar nav (back, today & next)*/
ul#ac-nav {
  display: block;
  text-align: right;
  list-style: none;
  margin-bottom: 10px;
}
ul#ac-nav li {
  display: inline-block;
  margin-right: 10px;
  color: var(--ac-nav-clr);
  position: relative;
  cursor: pointer;
}
ul#ac-nav li:hover {
  color: var(--ac-nav-clr-hover);
}
ul#ac-nav li.loader {
  text-align: center;
  min-width: 70px;
}

/* month holder*/
#ac-months {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--month-gap);
  grid-auto-rows: 1fr;
}

/* each individual month */
.ac-month {
  overflow: hidden;
  border-radius: var(--ac-border-radius);
}

/* month title*/
.ac-month-title {
  padding: 0.5rem;
  display: grid;
  place-content: center;
  color: var(--ac-month-title-clr);
  background-color: var(--ac-month-title-bg);
}

/* day elements - common styles*/
.ac-month ul {
  list-style: none;
  position: relative;
  font-size: var(--text-size);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--day-gap);
}

/* weekday titles and days */
.ac-weekdays li,
.ac-days li {
  display: grid;
  place-items: center;
  padding: 0.5rem;
}

/* weekday titles */
.ac-weekdays li {
  color: var(--ac-weekday-clr);
  background-color: var(--ac-weekday-bg);
}

/* days */
.ac-days li {
  color: var(--ac-day-clr);
  background-color: var(--ac-day-bg);
}
.ac-days li:hover {
  color: var(--ac-day-clr-hover);
}
.ac-days li:not(.empty) {
  cursor: pointer;
}

/* day - weekend */
ul.ac-days li.weekend {
  color: var(--ac-weekend-clr);
  background-color: var(--ac-weekend-bg);
}
/* day - past or next month */
ul.ac-days li.empty {
  opacity: 0.3;
}

/* day - past dates */
ul.ac-days li.past {
  opacity: 0.6;
}
/* day - today */
ul.ac-days li.today {
  font-weight: 700;
}
/* day - booked */
ul.ac-days li.booked {
  cursor: not-allowed;
  color: var(--ac-booked-clr);
  background-color: var(--ac-booked-bg);
}
/* day - booked pm */
ul.ac-days li.booked-pm {
  background-image: -webkit-linear-gradient(
    -45deg,
    var(--ac-day-bg) 50%,
    var(--ac-booked-bg) 50%
  );
}
/* day - booked am */
ul.ac-days li.booked-am {
  background-image: -webkit-linear-gradient(
    135deg,
    var(--ac-day-bg) 50%,
    var(--ac-booked-bg) 50%
  );
}
/* day - date range between */
ul.ac-days li.date-select-between {
  background: var(--ac-select-between);
}
/* day - date range start, am available */
li.date-select-start {
  background-image: -webkit-linear-gradient(
    -45deg,
    var(--ac-day-bg) 50%,
    var(--ac-select-start) 50%
  );
}
/* day - date range start pm, am booked */
li.date-select-start-pm {
  background-image: -webkit-linear-gradient(
    135deg,
    var(--ac-select-start) 50%,
    var(--ac-booked-bg) 50%
  );
}
/* day - date range end am, pm available*/
ul.ac-days li.date-select-end {
  background-image: -webkit-linear-gradient(
    135deg,
    var(--ac-day-bg) 50%,
    var(--ac-select-end) 50%
  );
}
/* day - date range end am, pm booked */
ul.ac-days li.date-select-end-am {
  background-image: -webkit-linear-gradient(
    135deg,
    var(--ac-booked-bg) 50%,
    var(--ac-select-end) 50%
  );
}

/* css only ac-spinner */
.ac-spinner {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 10px;
}
.ac-spinner div {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--ac-nav-clr);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ac-spinner div:nth-child(1) {
  left: 8px;
  animation: ac-spinner1 0.6s infinite;
}
.ac-spinner div:nth-child(2) {
  left: 8px;
  animation: ac-spinner2 0.6s infinite;
}
.ac-spinner div:nth-child(3) {
  left: 32px;
  animation: ac-spinner2 0.6s infinite;
}
.ac-spinner div:nth-child(4) {
  left: 56px;
  animation: ac-spinner3 0.6s infinite;
}
@keyframes ac-spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ac-spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ac-spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* responsive */
@media all and (max-width: 768px) {
}
/* catch all small screens */
@media all and (max-width: 540px) {
}
